.container-fluid {
    height: 864px;
}

.row {
    height: 864px;
}

.col-xl-1 {
    height: 864px;
}

.col-xl-11 {
    height: 864px;
}

.content {
    height: 864px;
}

.lan {
    width: 102px;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 20px;
    display: inline-block;
}

.lan1 {
    width: 102px;
    height: 20%;
}

.lan2 {
    width: 102px;
    height: 864px;
}

.test1 {
    background-color: #FFF;
    color: rgb(168, 168, 168);
    position: relative;
    top: 105px;
    left: -14px
}

.test1:hover {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    background-color: #FFF;
    color: #F05E1F;
}

.line {
    position: relative;
    top: 59px;
    left: 58px
}

.test2 {
    background-color: #FFF;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    top: 29px;
    left: 72px;
}

.lan2 {
    width: 102px;
    height: 100%;
}

.music-bt {
    display: inline-flex;
    height: 50px;
    width: 50px;
    background-color: #fff;
    color: #F05E1F;
    border-radius: 100%;
    position: absolute;
    top: 550px;
    left: 35px
}

.music-bt {
    margin-right: 0;
}

.music-bt:hover {
    background-color: #F05E1F;
}

.model-bt {
    display: inline-flex;
    height: 50px;
    width: 50px;
    background-color: #fff;
    color: #F05E1F;
    border-radius: 100%;
    position: absolute;
    top: 615px;
    left: 35px
}

.model-bt:hover {
    background-color: #F05E1F;
}

.content {
    background-color: rgb(255, 255, 255);
}

.navbar {
    margin-bottom: 3px;
}

.navbar-brand {
    margin: -5px 0px -3px 75px;
}

.collapse {
    margin-left: 555px;
    margin-bottom: -23px;
}

.nav {
    margin: auto;
}

.nav-link {
    font-family: Arial, Helvetica, sans-serif;
    font-weight:normal;
    font-size: 18px;
    background-color: #f8f9fa(255, 255, 255, 0.855);
    color: #F05E1F;
}

.nav-link:hover {
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bolder;
    font-size: 18px;
    background-color: #f8f9fa;
}

.box1 {
    background-color: #F05E1F;
    background-image: url("homepage-bg-co.jpg");
    height: 774px;
    background-repeat: no-repeat;
}

.egg {
    align-content: center;
    width: 45%;
    height: 400px;
    display: inline-block;
    margin: 82px 100px 0px 375px;
}

.whitebox {
    width: 1393px;
    height: 50px;
    position: relative;
    bottom: -491px;
    left: -375px;
    background-color: #FFF;
}

.d-grid {
    width: 375px;
    position: relative;
    bottom: -10px;
    left: 645px;
}

.btn {
    width: 26px;
    height: 25px;
    border-radius: 80%;
}

.carousel-inner {
    position: relative;
    top:-50px
}